extends layout

block content
  div.banner
    img(src="https://i.imgur.com/VXU8Bjw.png", alt="aquí está la imagen")
  
  div.section 
    a.createbutton(href="/creategame") Create Game
    a.consultbutton(href="/consultgame") Consult Game
    a.startbutton(href="/startgame") Start Game